/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	height: 100% !important;
	overflow: hidden;
}

button {
	font-weight: 500;
}

a.btn {
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
